# OS X
.DS_Store

# Jekyll build
# /docs/_site/
.jekyll-metadata
Gemfile.lock

# webstorm
.idea/

# others
*.swp
package-lock.json

# site build
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor
Gemfile.lock
node_modules

.venv
.env

*.Zone.Identifier

# Gulp CSS build dir
source/assets/built/*.*

# Other
Gemfile.lock
*/Gemfile.lock
docs/Gemfile.lock
