---
layout: default
current: about
title: About
cover: false
class: about-template
navigation: True
label: Author
---


<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->

{% for author in site.data.authors %}
    {% if forloop.first %}
    <header class="site-header outer {% if author[1].cover or page.cover %}" style="background-image: url({{ site.url }}{{ site.baseurl }}{% if author[1].cover %}{{ author[1].cover }}{% elsif page.cover %}{{ page.cover }}{% endif %}) {% else %}no-cover{% endif %}">
        <div class="inner">
            {% include site-nav.html %}
            <div class="site-header-content">
                {% if author[1].picture %}
                    <img class="author-profile-image" src="{{ site.url }}{{ site.baseurl }}{{ author[1].picture }}" alt="{{ page.author }}" />
                {% endif %}
                <h1 class="site-title">{{ author[1].name }}</h1>
                {% if author[1].bio %}
                    <h2 class="author-bio">{{ author[1].bio }}</h2>
                {% endif %}
                <div class="author-meta">
                    {% if author[1].location %}
                        <div class="author-location">{{ author[1].location }} <span class="bull">&bull;</span></div>
                    {% endif %}

                    {% if author[1].url %}
                        <a class="social-link social-link-wb" href="{{ author[1].url_full }}" target="_blank" rel="noopener">{% include website.html %}</a>
                    {% endif %}
                    {% if author[1].github %}
                        <a class="social-link social-link-gh" href="https://github.com/{{ author[1].github }}" target="_blank" rel="noopener">{% include github.html %}</a>
                    {% endif %}
                    {% if author[1].twitter %}
                        <a class="social-link social-link-tw" href="https://twitter.com/{{ author[1].twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
                    {% endif %}
                    {% if author[1].facebook %}
                        <a class="social-link social-link-fb" href="https://facebook.com/{{ author[1].facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
                    {% endif %}
                    <a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{ site.url }}{{ site.baseurl }}/feed.xml" target="_blank" rel="noopener">{% include rss.html %}</a>
                </div>
            </div>
        </div>
    </header>
    {% endif %}
{% endfor %}


<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-full">
            <article class="about">
                <p>I'm a Principal Cloud Solution Architect who focuses on Azure, Infrastructure, Applications, DevOps, FinOps, Python, and OSS. I solve problems by being insatiably curious.</p>
                <p>I am a hands-on architect who enjoys coding and am a passionate learner who believes the best solutions come from understanding the people at the heart of innovation. I have leadership experience designing and developing products, defining corporate standards, and architecting big data solutions from IoT to adaptive learning and modeling student knowledge. My love of learning enables me to lead research projects, publish whitepapers, apply for patents, and become a frequent speaker at conferences. I enjoy sharing what I learn from wilderness survival skills to web development in a boot camp.</p>
                <p>When I'm not programming or reading something new, you can find me on the slopes following my true passion for skiing.</p>

                <h2>Short Bio</h2>
                <p>Brig has been a developer for nearly 30 years. He works in Open Source and the Azure Cloud for Microsoft as a Principal Cloud Solution Architect out of his home office in Queen Creek, Arizona. He guides enterprises in adopting cloud best practices for smart buildings, manufacturing, transportation, DevOps, and enterprise data. His love of learning has led to research projects, published whitepapers, patent applications, and being a teacher. He developed an unhealthy interest in FinOps and now spreads his theories of cost optimization to anyone he encounters. His wife and three children love to spend time together adventuring outdoors or on brain teasers around the dinner table.</p>

                <blockquote>
                    <p>I believe the best solutions come from understanding the people at the heart of innovation. My expertise is discovering and explaining novel solutions with my rare perspective.</p>
                </blockquote>

                <div class="headshot">
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/brig.jpg" alt="Brig Lamoreaux Headshot" width="200px">
                </div>

                <ul>
                    <li>Cloud Architect</li>
                    <li>Python Expert</li>
                    <li>Teacher</li>
                    <li>Speaker</li>
                    <li>Thought Leader</li>
                    <li>Microsoft</li>
                </ul>
            </article>
        </div>


                    <!-- Previous/next page links - displayed on every page -->



    </div>
</main>
